{% extends "base.html" %}

{% load static i18n compress %}

{% block css %} {{ block.super }}
{% endblock css %}

{% block content %}
<body>
  <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg"  color-on-scroll="100">
    <div class="container">
      <a class="navbar-brand">Guru </a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">
              <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true">
                Log out
              </button>
            </a>
          </li>
        </ul>
      </div>
    <!-- </div> -->
  </nav>

  <div id="confirm-image">
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="card card-nav-tabs">
            <div class="card-header card-header-info">
              <center><h3>Request Sent!</h3></center>
            </div>
            <div class="card-body">
              <h4 class="card-title"><center>Your request has been sent!</center></h4>
              <p class="card-text"><center>You can cancel your request if you like.
                <br>You'll be redirected in one minute or click the logo to return to the home page</center>
              </p>
            </div>
            <div class="text-center">
              <button class="btn btn-danger btn-round btn-lg">
                Cancel Email
              </button>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
​  </div>

</body>
​{% endblock content %}


{% block javascript %} {{ block.super }}


{% endblock javascript %}
