{% extends "base.html" %}
{% load static i18n compress %}

{% block css %} {{ block.super }}
{% endblock css %}

{% block content %}
    <div id="topics">
        <form action="{% url 'confirmation' %}">
            <label for="topics-options">Select the topics that apply:</label>
            <br>
            <select id="topics-options" name="topics-options" multiple>
            {% for topic in topics %}
                {{ topic }}
                <!-- <option value="{{ topic }}">{{ topic }}</option> -->
            {% endfor %}
            </select>
            <br>
            <label for="description-area">Enter a little more about the issue:</label>
            <br>
            <textarea id="description-area"></textarea>
            <br>
            <input type="submit">
        </form>
    </div>

{% endblock content %}


{% block javascript %}

{% endblock javascript %}
