{% extends "base.html" %}
{% load static i18n compress %}

{% block css %} {{ block.super }}
{% endblock css %}

{% block content %}
<body>
    <nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'find_help' %}">Guru </a>
        </div>
    </nav>
    <div class="page-header">
        <div class="container">
            <div class="card card-nav-tabs text-center">
                <div class="card-header card-header-info">
                    pick your poison
                </div>
                <div id="skill_list">
                    <form action="{% url 'confirmation' %}" method="post">
                        {% csrf_token %}
                        <label for="skill_list-options">Select the topics that apply:</label>
                        <br>
                        <select id="skill_list-options" name="skill_list-options" single>
                        {% for skill in skill_list %}
                            <option value="{{ skill }}">{{ skill }}</option>
                        {% endfor %}
                        </select>
                        <br>
                        <!-- <label for="description-area">Enter a little more about the issue:</label> -->
                        <br>
                        <div class="form-group col">
                            <label for="exampleFormControlTextarea1">Enter a little more about the issue:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="card-body">
                            <input type="submit">
                            <!-- <a href="{% url 'confirmation' %}" class="btn btn-info" type="submit">Go somewhere</a> -->
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}
