{% extends "base.html" %}
{% load static i18n compress %}

{% block css %} {{ block.super }}
{% endblock css %}

{% block content %}
<body>
    <nav class="navbar navbar-color-on-scroll  fixed-top navbar-expand-lg"  color-on-scroll="100">
        <div class="container">
            <a class="navbar-brand" href="#">Guru</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true">
                        Log out
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page-header">
        <div class="container">
            <div class="card card-nav-tabs text-center">
                <div class="card-header card-header-info">
                    Pick Your Poison
                </div>
                <div id="skill_list">
                    <form action="{% url 'confirmation' %}" method="post">
                        {% csrf_token %}
                        <label for="skill_list-options">Select the topics that apply:</label>
                        <br>
                        {% for skill in skill_list %}
                            <div class="row cols=3">
                                <div class="form-check col">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="{{ skill }}">
                                        {{ skill }}
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                        <br>
                        <!-- <label for="description-area">Enter a little more about the issue:</label> -->
                        <br>
                        <div class="form-group col">
                            <label for="exampleFormControlTextarea1">Enter a little more about the issue:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="card-body">
                            <input type="submit">
                            <!-- <a href="{% url 'confirmation' %}" class="btn btn-info" type="submit">Go somewhere</a> -->
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}
