{% extends 'base.html' %}

{% load static i18n compress %}

{% block css %} {{ block.super }}
{% endblock css %}

{% block content %}
<nav class="navbar navbar-color-on-scroll  fixed-top navbar-expand-lg"  color-on-scroll="100">
    <div class="container">
        <a class="navbar-brand" href="#">Guru</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true">
                    Log out
                    </button>
                </a>
            </li>
        </ul>
    </div>
</nav>


<div class="page-header">
    <div class="container">
      <div class="row">
        <div class="card card-nav-tabs">
            <div class="card-header card-header-info">
              <center>Your Helper!</center>
            </div>
            <div class="card-body">
              <h4 class="card-title"><center>Special title treatment</center></h4>
              <p class="card-text"><center>Match data name etc</center></p>
            </div>
            <div class="text-center">
                <button class="btn btn-danger btn-fab btn-fab-mini btn-round btn-lg">
                    <i class="material-icons">cancel</i>
                </button>
                <a href="{% url 'confirmation' %}">
                    <button class="btn btn-success btn-fab btn-fab-mini btn-round btn-lg">
                        <i class="material-icons">check</i>
                    </button>
                </a>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %} {{ block.super }}

{% endblock javascript %}
